.products {
    padding: 20px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.product-table th {
    background-color: #f2f2f2;
}

.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 0;
}

.btn{
    font-size: large;
    border: none;
    background-color: cadetblue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
