.orders {
    padding: 20px;
    margin-left: 60px;
    margin-top: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.stat{
    display: flex;
    flex-direction: column;
    gap:5px;
}
