* {
    margin: 0;
    padding: 0;
}

.navb {
    padding: 0.5vw;
    display: flex;
    flex-direction: row;
    background-color: #2d2d2d;
    align-items: center;
}

.imgn img {
    width: 15%; 
    margin-left: 9vw;
}

.rows {
    margin-left: -30vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
}

  

.category a {
    text-decoration: none; 
    color: white;
}
.category h2{
    font-weight:lighter;
    font-size: 1.5vw;
}

.contactn i, .cartn i {
    font-size: 1.75vw; 
}
.contactn i{
    font-weight: lighter;
}
.category + .category {
    border-left: 1px solid white; 
    padding-left: 2vw; 
  }
.search input{
    padding:0.8vw;
    border-radius: 3vw;
    width:30vw;
}



