.shopping-page {
    display: flex;
  }
  
  .shopping-content {
    flex-grow: 1;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-list p {
    width: 100%;
    text-align: center;
  }
  
  .sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    height: 100vh;
    position: fixed; 
  }
  
  .sidebar h3 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
    cursor: pointer;
    color: #333;
  }
  
  .sidebar ul li:hover {
    text-decoration: underline;
  }
  

  