.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
  }
  
  .sidebar h3 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: large;
    margin-bottom: 10vh;
    color: #ffffff;
  }
  
  .sidebar ul li:hover {
    text-decoration: underline;
  }
  